@mixin imageStyle($width,$height,$radius) {
    width: $width;
    height:$height;
    border-radius: $radius;
}
@mixin textStyle($color,$size,$weight){
    font-size: $size;
    font-weight:$weight;
    color: $color;
 
}
// @mixin  boxStyle($width,$padding,$radius) {
//     width:$width;
//     border-radius:$radius ;

    
// }
@mixin hoverStyle($hoverColor,$bgColor){
    &:hover{
        font-size: larger;
        color: $hoverColor;
        background-color:$bgColor;
    }
}
 