@import "variables";
@import "mixins";
.cardContainer {
  width: 250px;
  box-shadow: 0 0 4px 2px $gray_color;
  border-radius: 10px;
  overflow: hidden;
  background-color:#FFF;
  margin:15px;
  img {
    @include imageStyle(100%, 200px, 0);
  }
  .contentContainer { 
     padding: 10px 15px;
    h3 {
      a{
        text-decoration: none;
      @include textStyle($dark_color, 17px, bold);
      &:hover{
        color: $gray_color;
      }
     }

      margin-bottom: 15px;
    }
    p {
      @include textStyle($lightgray_color, 15px, bold);
      background-color: $orange_color;
      display: inline;
      padding: 5px 10px;
      border-radius: 5px;
    }
  }
  .counter{
    border-top: 1px solid $gray_color;
    padding: 10px;
    display: flex;
    align-items: center;
    img{
      @include imageStyle(30px,30px,0);
      margin: 10px;
    }
    span{
      background-color:$blue_color;
      padding: 7px;
      border-radius:5px;
      @include textStyle($lightgray_color,16px,bold);
    }
    .countSpan{
      opacity: 0.6;
    }
  }
}

