@import "variables";
@import "mixins";
.loadContainer {
  position: relative;
  img {
    @include imageStyle(100%, 530px, 0);
  }
}
.textContainer {
     position: absolute;
    bottom:75px;
    padding-left:40px;
  h2 {
   
    @include textStyle($blue_color, 70px, bold);
  }
  h3 {
    @include textStyle($gray_color,35px,100);
    
  }
}
@include media('XL'){
  .loadContainer{
  img{
    @include imageStyle(100% ,350px , 0)
  }}
  .textContainer{
  
  h2{
   font-size: 50px;
  }
  h3{
    font-size: 20px;
  }
}}
@include media('M'){
  .textContainer{
  
    h2{
     font-size:20px;
    }
    h3{
      font-size:13px;
    }
  }
}