@import "mixins";
@import "variables";
.logoContainer{
   display:flex;
   flex-direction: column;
   align-items:center;
   padding-top: 30px ;
   h2{
    @include textStyle($dark_color,45px,bold);
   }
}
.imageContainer{
    img{
     @include imageStyle(220px,220px,0);
     margin:0 50px;
    } 
}
@include media(XL){
    .logoContainer{
    h2{
        font-size:25px;
    }}
    .imageContainer{
        img{
            @include imageStyle(130px,130px,0);
            margin: 0 15px;
        }
    }
}
@include media(M){
    .logoContainer{
    h2{
        font-size:15px;
    }}
    .imageContainer{
        img{
            @include imageStyle(70px,70px,0);
            margin: 0 10px;
        }
    }
}